body {
	overflow-y: hidden;
	overflow-x: hidden;
}

.page {
	width: 100vw;
	height: 100vh;
	position:relative
}

.page2 {
	width: 100vw;
	height: 100vh;
	position:relative;
	background: url(../img/Log.svg) no-repeat center center fixed;
    background-size: cover;
}

#box {
	display: none;
}

.buttoncontainer {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 300px;
}

.buttoncontainer2 {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 200px;
  position: absolute;
  bottom: 5%;
  right: 5%;
}

.btnfos {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 auto 2em;
  position: relative;
  text-transform: uppercase;
  vertical-align: middle;
  width: 100%;
}

@media (min-width: 400px) {
  .btnfos {
    display: inline-block;
    margin-right: 2.5em;
  }
  .btnfos:nth-of-type(even) {
    margin-right: 0;
  }
}

@media (min-width: 600px) {
  .btnfos:nth-of-type(even) {
    margin-right: 2.5em;
  }
  .btnfos:nth-of-type(5) {
    margin-right: 0;
  }
}

.btnfos-1 {
  background: #FF882A;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.2);
  color: #FFF;
  text-decoration: none;
  -webkit-transition: all 250ms linear;
  transition: all 250ms linear;
  font-weight:bolder;
  letter-spacing: 0px;
}

.btnfos-1:hover {
  background: #FF882A;
  border: 1px solid white;
  -webkit-box-shadow: 2px 2px 0px 0px rgba(255, 255, 255, 1);
  -moz-box-shadow:    2px 2px 0px 0px rgba(255, 255, 255, 1);
  box-shadow:         2px 2px 0px 0px rgba(255, 255, 255, 1);
  letter-spacing: 1px;
  -webkit-transition: all 150ms linear;
  transition: all 150ms linear;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.page:nth-child(2) {
	        background: url(../img/Log.svg) no-repeat center center fixed;
        background-size: cover;
}

.btnfos-2 {
  background: #fff;
  border: 3px solid #FF882A;
  box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.2);
  color: #FF882A;
  text-decoration: none;
  -webkit-transition: all 250ms linear;
  transition: all 250ms linear;
  font-weight:bolder;
  letter-spacing: 0px;
}

.btnfos-2:hover {
  background: #fff;
  border: 3px solid #FF882A;
  -webkit-box-shadow: 2px 2px 0px 0px rgba(255, 255, 255, 1);
  -moz-box-shadow:    2px 2px 0px 0px rgba(255, 255, 255, 1);
  box-shadow:         2px 2px 0px 0px rgba(255, 255, 255, 1);
  letter-spacing: 1px;
  -webkit-transition: all 150ms linear;
  transition: all 150ms linear;
}

.quiz1 {
	position: absolute;
	right: 0;
	top:0;
	width: 50%;
	height: 50%;
}

.quiz1 .quiz1header {
	margin-top: 15%;
	background: #fff;
	height: 15%;
	width: 100%;
}

.section {
  margin: 10px 0;
}

#progress .item {
  height: 10px;
  width: 10px;
  margin: 0 10px;
  border: 2px solid #FF882A;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

#progress .item.current {
  border-color: #FF882A;
}

#progress .item.complete {
  background-color: #FF882A;
}

#progress .item:not(.complete):hover {
  background-color: #FF882A;
}