/*
 *******************************************************
 * GLobals
 *******************************************************
 */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  overflow-y: hidden;
  overflow-x: hidden;
  background: #FF882A;
}

a {
  text-decoration: none!important;
}

@font-face {
  font-family: "Akrobat Bold";
  src: url("../fonts/akrobat-bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Circe Rounded";
  src: url("../fonts/CirceRounded-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

lottie-player {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -999;
  display: block!important;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin-right: auto;
}

button {
  position: relative;
  padding: 0 2em;
  cursor: pointer;
  outline: none;
  font-family: Akrobat Bold;
  letter-spacing: 1px;
}


/*
 *******************************************************
 * Container
 *******************************************************
 */

[role="banner"],
[role="main"] {
  padding: 0 5%;
}

.container {
  width: 100%;
  background: #EFEFEF;
  padding: .5rem 5%; /* 8/16 = .5rem */
}

/*
 *******************************************************
 * Buttons
 *******************************************************
 */

.previewbutton {
  background: #FFF;
  color: #FF882A;
  border: none;
  height: 60px;
  font-size: 1.6rem;
  line-height: 1.5;
  width: 70%;
  transition: 800ms ease all;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.previewbutton:hover {
  background: #FF882A;
  color: #FFF;
}

.previewbutton:before, button:after{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #FFF;
  transition: 400ms ease all;
}

.previewbutton:after{
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

.previewbutton:hover:before, button:hover:after{
  width: 100%;
  transition: 800ms ease all;
}



/*
 *******************************************************
 * Media Query Small Screens
 *******************************************************
 */

@media screen and (max-width: 40em) { /* 640/16 = 40em */

  .previewtext {
  width: 90%;
  font-size: 1rem;
  }
}
/*
 *******************************************************
 * Media Query Large Screens
 *******************************************************
 */

@media screen and (min-width: 40.00625em) { /* 640.1/16 = 40.00625em */

.previewtext {
  width: 30%;
  font-size: 1.5rem;  
  }
}

.previewtext {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-family: Akrobat Bold;
  color: #FFF;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 1px;
  border: 4px solid #FFF; 
}

.underline {
  display: inline-block;
  position: relative;
  padding-bottom: 4px;
  margin-bottom: 10px;
  background: linear-gradient(to left,#fff, #fff);
  background-size: 0% 2px;
  background-repeat: no-repeat;
  background-position: center bottom;
  animation: underline 1s ease-in-out 0.5s;
  animation-fill-mode: forwards;
}

@keyframes underline {
  to {
    background-size: 100% 2px;
  }
}

.lottie-anim {
  z-index: -999!important;
  position: absolute!important;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.page {
  width: 100vw;
}

.topcolor {
  background: #C5E5E5;
  position: absolute;
  width: 100%;
  height: 50%;
  left: 0;
  top:0;
}

.bottomcolor {
  background: #70AB54;
  position: absolute;
  width: 100%;
  height: 50%;
  left: 0;
  bottom:0;
}

.page img {
  padding: 0;
  left: 0;
  bottom: 0;
  position: absolute;
}

#box {
  display: none;
}

.head {
  text-align: center;
  font-family: Circe Rounded;
  letter-spacing: 0px;
  background: url(../img/buble3.svg) no-repeat center center;
  background-size: cover;
  font-size: 2.5rem;
}

.text {
  text-align: left;
  font-family: Circe Rounded;
  letter-spacing: 0px;
  font-size: 1.5rem;
}

#progress .item {
  height: 15px;
  width: 15px;
  margin: 0 10px;
  border: 2px solid #FF882A;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  background: #fff;
}

#progress .item.current {
  border-color: #FF882A;
}

#progress .item.complete {
  background-color: #FF882A;
}

#progress .item:not(.complete):hover {
  background-color: #FF882A;
}

.hide {
  display: none;
}

.disable {
  pointer-events: none;
  opacity: 0.4;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  background: transparent;
  border: none;
  position: absolute;
  text-align: right;
}

#next_btn {
  background: transparent;
  border: none;
  font-weight: bold;
  font-size: 2.5rem;
  position: absolute;
  text-align: right;
  right: -15%;
  top: 0;
}

/*
 *******************************************************
 * Clouds
 *******************************************************
 */

.frame {
  width: 100%;
  height: auto;
  margin: 15% auto 0;
  position: absolute;
  width: 100%;
}

svg {
  width: 100%;
  height: auto;
  display: block;
}

.clouds {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  transform: translateZ(0);
}

.cloud {
  position: absolute;
  top: 10%;
  width: 300px;
  right: 0;
  opacity: 1;
}

.cloud.front {
  z-index: 9;
}

.cloud.distant {
  z-index: 1;
}

.cloud.background {
  z-index: 1;
}

/*Cloud Sizing*/
.cloud.smaller {
  margin-right: 400px;
  width: 100px;
  margin-top: 50px;
}

.cloud.small {
  margin-right: 200px;
  width: 150px;
}

.cloud.big {
  width: 500px;
  margin-top: 50px;
  margin-right: 150px;
}

.cloud.massive {
  width: 900px;
  margin-top: 20px;
  margin-right: 0px;
}


/*Cloud: Animation*/
.cloud {
  -webkit-animation-name: cloud-movement;
  -webkit-animation-timing-function: linear;
  -webkit-animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 18s;

  -moz-animation-name: cloud-movement;
  -moz-animation-timing-function: linear;
  -moz-animation-direction: forwards;
  -moz-animation-iteration-count: infinite;
  -moz-animation-duration: 18s;

  animation-name: cloud-movement;
  animation-timing-function: linear;
  animation-direction: forwards;
  animation-iteration-count: infinite;
  animation-duration: 18s;
}

.slow {
  -webkit-animation-duration: 29.2s;
  -moz-animation-duration: 29.2s;
  animation-duration: 29.2s;
}

.slower {
  -webkit-animation-duration: 11.2s;
  -moz-animation-duration: 11.2s;
  animation-duration: 21.2s;
}

.slowest {
  -webkit-animation-duration: 13.5s;
  -moz-animation-duration: 13.5s;
  animation-duration: 23.5s;
}

.super-slow {
  -webkit-animation-duration: 20.5s;
  -moz-animation-duration: 20.5s;
  animation-duration: 20.5s;
}

@-webkit-keyframes cloud-movement {
  0% {
    opacity: 0.1;
    -webkit-transform: translateX(300px);
    -moz-transform: translateX(300px);
    transform: translateX(300px);
  }
  10% {

    opacity: 0.7;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-1000px);
    -moz-transform: translateX(-1000px);
    transform: translateX(-1000px);
  }
}