/*
 *******************************************************
 * GLobals
 *******************************************************
 */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  overflow-y: hidden;
  overflow-x: hidden;
  background: #FF882A;
}

a {
  text-decoration: none!important;
}

@font-face {
  font-family: "Akrobat Bold";
  src: url("../fonts/akrobat-bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Circe Rounded";
  src: url("../fonts/CirceRounded-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

lottie-player {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -999;
  display: block!important;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin-right: auto;
}

button {
  position: relative;
  padding: 0 2em;
  cursor: pointer;
  outline: none;
  font-family: Akrobat Bold;
  letter-spacing: 1px;
}

.buttonquiz1 {
  --c: goldenrod;
  color: var(--c);
  border: 0.3em solid var(--c);
  border-radius: 0.5em;
  font-weight: bold;
  font-family: Circe Rounded;
  letter-spacing: 0px;
  letter-spacing: 0.1em;
  text-align: center;
  line-height: 3em;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
}

.buttonquiz1 span {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: var(--c);
  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--n) - 1) * 25%);
  transition: 0.5s;
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
}

.buttonquiz1:hover {
  color: #FFF;
}

.buttonquiz1:hover span {
  transform: translateY(0) scale(2);
}

.buttonquiz1 span:nth-child(1) {
  --n: 1;
}

.buttonquiz1 span:nth-child(2) {
  --n: 2;
}

.buttonquiz1 span:nth-child(3) {
  --n: 3;
}

.buttoncontainer span:nth-child(4) {
  --n: 4;
}

.page img {
  padding: 0;
  left: 0;
  bottom: 0;
  position: absolute;
}


/*
 *******************************************************
 * Container
 *******************************************************
 */

[role="banner"],
[role="main"] {
  padding: 0 5%;
}

.container {
  width: 100%;
  background: #EFEFEF;
  padding: .5rem 5%; /* 8/16 = .5rem */
}

/*
 *******************************************************
 * Buttons
 *******************************************************
 */

.previewbutton {
  background: #FFF;
  color: #FF882A;
  border: none;
  height: 60px;
  font-size: 1.6rem;
  line-height: 1.5;
  width: 70%;
  transition: 800ms ease all;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.previewbutton:hover {
  background: #FF882A;
  color: #FFF;
}

.previewbutton:before, button:after{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #FFF;
  transition: 400ms ease all;
}

.previewbutton:after{
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

.previewbutton:hover:before, button:hover:after{
  width: 100%;
  transition: 800ms ease all;
}

/*
 ARROWBUTTON STYLING
*/

.arrowcontainer {
  text-align: center;
  width: 100%;
  height: 33%;
  display: flex;
  justify-content: right;
  align-items: right;
}

.arrowbtn img {
  float: right;
}

.arrowbtn {
  position: relative;
  color: white;
  width: 256px;
  height: 64px;
  line-height: 64px;
  transition: all 0.3s;
  span {
    transition: all 0.3s;
    tranform: scale(1, 1);
  }
}

.arrowbtn::before, .arrowbtn::after {
  content: '';
  position: absolute;
  transition: all 0.3s;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.arrowbtn::before, .arrowbtn::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  z-index: 1;
  transition: all 0.3s;
}

.arrowbtn:hover::after {
  animation-name: rotatecw;
  animation-duration: 2s;
  border: 1px solid #FFF;
  border-radius: 0.5em;

}
.arrowbtn:hover::before {
  animation-name: rotateccw; 
  animation-duration: 3s;
  border: 1px solid #FFF;
  border-radius: 0.5em;

}
.arrowbtn:hover::after, .arrowbtn:hover::before {
  left: 96px;
  width: 64px;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotatecw {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@keyframes rotateccw {
    from {transform: rotate(0deg);}
    to {transform: rotate(-360deg);}
}

/*
 *******************************************************
 * Media Query Small Screens
 *******************************************************
 */

@media screen and (max-width: 56em) { /* 640/16 = 40em */

.previewtext {
  width: 90%;
  font-size: 1rem;
}

.head {
  font-size: 1.5rem;
}

.text {
  font-size: 1rem;
  text-align: center;
  width: 100%;
}

.quiz {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.buttonquiz1 {
  font-size: 1rem;
  width: 12em;
  height: 3em;
}

#progress {
  width: 90%;
  margin-top: 5%;
  }
}
/*
 *******************************************************
 * Media Query Large Screens
 *******************************************************
 */

@media screen and (min-width: 56.25em) { /* 640.1/16 = 40.00625em */

.previewtext {
  width: 30%;
  font-size: 1.5rem;  
}


.head {
  font-size: 2.5rem;
  text-align: right;
}

.text {
  font-size: 1.5rem;
  text-align: left;
}

.quiz {
  width: 50%;
  right: 10%;
}

.buttonquiz1 {
  font-size: 1.3rem;
  width: 12em;
  height: 3em;
}

#progress {
  width: 100%;
  margin-top: 5%;
  }
}

.previewtext {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-family: Akrobat Bold;
  color: #FFF;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 1px;
  border: 4px solid #FFF;
  background: #FF882A; 
}

.underline {
  display: inline-block;
  position: relative;
  padding-bottom: 4px;
  margin-bottom: 10px;
  background: linear-gradient(to left,#fff, #fff);
  background-size: 0% 2px;
  background-repeat: no-repeat;
  background-position: center bottom;
  animation: underline 1s ease-in-out 0.5s;
  animation-fill-mode: forwards;
}

@keyframes underline {
  to {
    background-size: 100% 2px;
  }
}

.lottie-anim {
  z-index: -999!important;
  position: absolute!important;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.quiz {
  position: absolute;
}

.page {
  width: 100vw;
}

.topcolor {
  background: #C5E5E5;
  top:0;
}

.bottomcolor {
  background: #70AB54;
  bottom:0;
}
.rain__drop {
  -webkit-animation-delay: calc(var(--d) * 1s);
          animation-delay: calc(var(--d) * 1s);
  -webkit-animation-duration: calc(var(--a) * 1s);
          animation-duration: calc(var(--a) * 1s);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: drop;
          animation-name: drop;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  height: 30px;
  left: calc(var(--x) * 1%);
  position: absolute;
  top: calc((var(--y) + 50) * -1px);
}
.rain__drop path {
  fill: #a1c6cc;
  opacity: var(--o);
  -webkit-transform: scaleY(calc(var(--s) * 1.5));
          transform: scaleY(calc(var(--s) * 1.5));
}
@-webkit-keyframes drop {
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(100vh);
            transform: translateY(100vh);
  }
}
@keyframes drop {
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(100vh);
            transform: translateY(100vh);
  }
}
.topcolor,.bottomcolor {
  position: absolute;
  width: 100%;
  height: 50%;
  left: 0; 
  z-index: -5;
}

.rightcolor {
  background: #C5E5E5;
  left:0;
}

.leftcolor {
  background: #C5E5E5;
  right:0;
}
.leftcolor,.rightcolor {
  position: absolute;
  height: 100%;
  width: 50%;
  top: 0; 
}

.sectionblock {
  height: 100vh;
  display: inline-block;
  padding: 0;
  left: 0;
  width: 8vw;
  background: #000;
  position: absolute;
}

.backgroundimage {
  padding: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  z-index: -1;
}

#box {
  display: none;
}

.partsection1 {
  width: 10vw;
  border: 0.5px solid #000;
  height: 100vh;
  z-index: 9;
  top:0;
  position: absolute;
  left:0;
}
.partsection2 {
  width: 10vw;
  border-right: 0.5px solid #000;
  height: 100vh;
  z-index: 9;
  top:0;
  position: absolute;
  left:10vw;
}
.partsection3 {
  width: 10vw;
  border-right: 0.5px solid #000;
  height: 100vh;
  z-index: 9;
  top:0;
  position: absolute;
  left:20vw;
}
.partsection4 {
  width: 10vw;
  border-right: 0.5px solid #000;
  height: 100vh;
  z-index: 9;
  top:0;
  position: absolute;
  left:30vw;
}
.partsection5 {
  width: 10vw;
  border-right: 0.5px solid #000;
  height: 100vh;
  z-index: 9;
  top:0;
  position: absolute;
  left:40vw;
}
.partsection6 {
  width: 10vw;
  border-right: 0.5px solid #000;
  height: 100vh;
  z-index: 9;
  top:0;
  position: absolute;
  left:50vw;
}
.partsection7 {
  width: 10vw;
  border-right: 0.5px solid #000;
  height: 100vh;
  z-index: 9;
  top:0;
  position: absolute;
  left:60vw;
}
.partsection8 {
  width: 10vw;
  border-right: 0.5px solid #000;
  height: 100vh;
  z-index: 9;
  top:0;
  position: absolute;
  left:70vw;
}
.partsection9 {
  width: 10vw;
  border-right: 0.5px solid #000;
  height: 100vh;
  z-index: 9;
  top:0;
  position: absolute;
  left:80vw;
}
.partsection10 {
  width: 10vw;
  border-right: 0.5px solid #000;
  height: 100vh;
  z-index: 9;
  top:0;
  position: absolute;
  left:90vw;
}
.partsection11 {
  width: 10vw;
  border: 0.5px solid #000;
  height: 100vh;
  z-index: 9;
  top:0;
  position: absolute;
  left:90vw;
}
.partsection12 {
  width: 10vw;
  border-right: 0.5px solid #000;
  height: 100vh;
  z-index: 9;
  top:0;
  position: absolute;
  left:100vw;
  background: #000;
}

.part img {
  height: 100vh;
   z-index: 99; /* изображение размыто */
  background-image: url(image.png);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  filter: blur(5px);

}

.partnum {
position: absolute;
left: 5%;
top: 5%; 
color: #000;
  font-family: Circe Rounded;
  letter-spacing: 0px;
  line-height: 1;
  font-weight: bold;

}
.partlock {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
color: #000;
  font-family: Circe Rounded;
  letter-spacing: 0px;
  line-height: 1;
  font-weight: bold;

}

span{height:40px; width:40px; display:block; position:relative;}
 
.zamok{width:38px; height:25px; margin-top:40px; background:#333; border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px; border-left:1px dashed #fff; border-right:1px dashed #fff}
 
.zamok:before{content:''; height:10px; width:16px;display:b; border:5px solid #333; border-bottom:none; border-radius:50px 50px 0 0;-webkit-border-radius:50px 50px 0 0;-moz-border-radius:50px 50px 0 0; position:absolute; top:-15px; left:6px; }
 
.zamok:after{content:'';width:5px; height:7px; background:#fff; border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px; border:5px; position:absolute; top:8px; left:17px; }


.head {
  text-align: center;
  font-family: Circe Rounded;
  letter-spacing: 0px;
  background: url(../img/buble3.svg) no-repeat center center;
  background-size: cover;
}

.text {
  font-family: Circe Rounded;
  letter-spacing: 0px;
  line-height: 1;
  color: #000;
}

#progress .item {
  height: 15px;
  width: 15px;
  margin: 0 10px;
  border: 2px solid #FF882A;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  background: #FFF;
}

#progress .item.current {
  border-color: #FF882A;
}

#progress .item.complete {
  background-color: #FF882A;
}

#progress .item:not(.complete):hover {
  background-color: #FF882A;
}

.hide {
  display: none;
}

.disable {
  pointer-events: none;
  opacity: 0.4;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  background: transparent;
  border: none;
}

#next_btn {
  border: none;
  font-weight: bold;
  width: 100%;
}

#next_btn img {
  width: 10%;
  float: right;
}

/*
 *******************************************************
 * Clouds
 *******************************************************
 */

.frame {
  width: 100%;
  height: auto;
  margin: 15% auto 0;
  position: absolute;
  width: 100%;
}

svg {
  width: 100%;
  height: auto;
  display: block;
}

.clouds {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  transform: translateZ(0);
}

.cloud {
  position: absolute;
  top: 10%;
  width: 300px;
  right: 0;
  opacity: 1;
}

.cloud.front {
  z-index: 9;
}

.cloud.distant {
  z-index: 1;
}

.cloud.background {
  z-index: 1;
}

/*Cloud Sizing*/
.cloud.smaller {
  margin-right: 400px;
  width: 100px;
  margin-top: 50px;
}

.cloud.small {
  margin-right: 200px;
  width: 150px;
}

.cloud.big {
  width: 500px;
  margin-top: 50px;
  margin-right: 150px;
}

.cloud.massive {
  width: 900px;
  margin-top: 20px;
  margin-right: 0px;
}


/*Cloud: Animation*/
.cloud {
  -webkit-animation-name: cloud-movement;
  -webkit-animation-timing-function: linear;
  -webkit-animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 18s;

  -moz-animation-name: cloud-movement;
  -moz-animation-timing-function: linear;
  -moz-animation-direction: forwards;
  -moz-animation-iteration-count: infinite;
  -moz-animation-duration: 18s;

  animation-name: cloud-movement;
  animation-timing-function: linear;
  animation-direction: forwards;
  animation-iteration-count: infinite;
  animation-duration: 18s;
}

.slow {
  -webkit-animation-duration: 29.2s;
  -moz-animation-duration: 29.2s;
  animation-duration: 29.2s;
}

.slower {
  -webkit-animation-duration: 11.2s;
  -moz-animation-duration: 11.2s;
  animation-duration: 21.2s;
}

.slowest {
  -webkit-animation-duration: 13.5s;
  -moz-animation-duration: 13.5s;
  animation-duration: 23.5s;
}

.super-slow {
  -webkit-animation-duration: 20.5s;
  -moz-animation-duration: 20.5s;
  animation-duration: 20.5s;
}

@-webkit-keyframes cloud-movement {
  0% {
    opacity: 0.1;
    -webkit-transform: translateX(300px);
    -moz-transform: translateX(300px);
    transform: translateX(300px);
  }
  10% {

    opacity: 0.7;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-1000px);
    -moz-transform: translateX(-1000px);
    transform: translateX(-1000px);
  }
}

.buttoncontainer {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}